.user-info-container {
  margin-top: 20px;
  display: inline-block;
}

.user-view-buttons {
  margin-top: 15px;
  margin-left: 20px;
  width: calc(100% - 20px);
  padding: 15px 10px;
  background: #fff;
}
