<div class="user-info">
  <div class="users-header">
    <div class="users-header__title">
      {{user.firstName + ' ' + user.lastName}}
    </div>
  </div>
  <div class="user-info-container">
    <div class="user-info-columns">
      <div class="user-info-column">
        <app-personal-info-container
          [user]="user">
        </app-personal-info-container>
      </div>
      <div class="user-info-column">
        <app-passport-container
          [passport]="user.passport">
        </app-passport-container>
      </div>
      <div class="user-info-column">
        <app-other-info-container
          [user]="user">
        </app-other-info-container>
      </div>
    </div>
    <div class="user-view-buttons">
      <button class="btn btn-primary" (click)="back()">Back</button>
      <button class="btn btn-success mgl10" (click)="edit(user.id)">Edit</button>
      <button class="btn btn-success mgl10" (click)="deposit(user.id)">Deposit</button>
    </div>
  </div>
</div>
