<div class="page">
  <div class="page-header">
    <div class="page-header__title">
      Bank Development Fund Accounts
    </div>
  </div>
  <div class="page-body">
    <table class="table">
      <thead>
      <th>Bank account</th>
      <th>Currency</th>
      <th>Account amount</th>
      </thead>
      <tbody>
      <tr *ngFor="let fund of developmentFunds">
        <td>{{fund.name}}</td>
        <td>{{fund.currency}}</td>
        <td>{{fund.accountAmount}}</td>
      </tr>
      </tbody>
    </table>
    <div class="page-buttons">
      <button class="btn btn-primary" (click)="back()">Back</button>
    </div>
  </div>
</div>
