.user-edit-columns {
  display: inline-block;
}

.user-edit-column {
  margin-left: 20px;
  display: inline-block;
}

.user-edit-container {
  display: inline-block;
}

.user-edit-buttons {
  margin-top: 15px;
  margin-left: 20px;
  width: calc(100% - 20px);
  padding: 15px 10px;
  background: #fff;
}

.field {
  min-width: 150px;
  margin: 0 5px;

  &__label {
    font-size: 12px;
    font-weight: bold;
  }
}

.form-control {
  color: #999;
  border: 1px solid #eee;
  padding: 2px 5px;
}

.radio-group {
  display: flex;
  color: #999;
}
