.user-edit-columns {
  display: inline-block;
}

.user-edit-column {
  margin-left: 20px;
  display: inline-block;
}

.user-edit-container {
  display: inline-block;
  margin-top: 20px;
}

.user-edit-buttons {
  margin-top: 15px;
  margin-left: 20px;
  width: calc(100% - 20px);
  padding: 15px 10px;
  background: #fff;
}

.radio-group {
  display: flex;
  color: #999;
}
