.users-table {
  padding: 10px 20px;
  
  &__table {
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    tr {
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
        background: #b8f9c3 !important;
      }
    }

    th, td {
      text-align: left;
      padding: 10px 0 10px 10px;
    }

    td {
      color: #555;
    }

    tr:nth-child(odd) {
      background: #eee;
    }
  }
}

.action {
  margin-right: 10px;

  &:hover {
    cursor: pointer;
    color: #000;
  }
}
