<div class="users">
  <div class="users-header">
    <div class="users-header__title">
      User List
    </div>
    <div class="users-header__button">
      <button class="btn btn-primary" routerLink="/main/users/new">New</button>
    </div>
  </div>
  <div class="users-table">
    <table class="users-table__table">
      <thead>
      <th>First name</th>
      <th>Last name</th>
      <th>Middle name</th>
      <th>Gender</th>
      <th>Mobile phone number</th>
      <th>Identification number</th>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.middleName}}</td>
        <td>{{user.gender.name}}</td>
        <td>{{user.mobilePhoneNumber}}</td>
        <td>{{user.passport.identificationNumber}}</td>
        <td>
          <span (click)="edit(user.id)" class="action">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
          <span (click)="delete(user.id)" class="action">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </span>
          <span (click)="view(user.id)" class="action">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
