/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #f00;
  font-family: Arial;
}

h1, h2, h3, h4, h5, h6 ,p, input, select {
  margin: 0;
  padding: 0;
}

div, input, select {
  box-sizing: border-box;
}

.data-container {
  background: #fff;
  padding: 15px 10px;
  display: inline-block;

  &__header {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 22px;
  }
}

.user-info-columns {
  display: inline-block;
}

.user-info-column {
  margin-left: 20px;
  display: inline-block;
}

.validation-message {
  height: 15px;
  font-weight: bold;
  font-size: 12px;
}

.btn {
  font-weight: bold;
  padding: 5px 15px;
  font-size: 14px;
  border: none;
  outline: none;
  color: #fff;
  background: #aaa;
}

.btn-success {
  background: #2ce1aa;

  &:hover {
    cursor: pointer;
    background: #738b79;
  }
}

.btn-primary {
  background: #35d5fd;

  &:hover {
    cursor: pointer;
    background: #1e8ba2;
  }
}

.mgl10 {
  margin-left: 10px;
}

.users-header {
  width: 100%;
  background: #fff;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 24px;
    font-weight: bold;
  }
}

.page {

  &-header {
    width: 100%;
    background: #fff;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &-body {
    padding: 10px 20px;
  }
}

.table {
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  tr {
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
      background: #b8f9c3 !important;
    }
  }

  th, td {
    text-align: left;
    padding: 10px 0 10px 10px;
  }

  td {
    color: #555;
  }

  tr:nth-child(odd) {
    background: #eee;
  }
}

.field {
  min-width: 150px;
  margin: 0 5px;

  &__label {
    font-size: 12px;
    font-weight: bold;
  }
}

.form-control {
  color: #999;
  border: 1px solid #eee;
  padding: 2px 5px;
  width: 100%;
}

.page-buttons {
  margin-top: 15px;
  width: 100%;
  padding: 15px 10px;
  background: #fff;
}

.inline-block {
  display: inline-block;
}
